body {
  width:100%;
  height:100%;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#6f6f6e;
  background-color:#fff;
}
html {
  width:100%;
  height:100%;
}
h1, h2 {
  margin:0 0 35px;
  text-transform:uppercase;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing:normal;
}
h2 { color:#e2cc00; }
p {
  color:#000;
  margin:0 0 25px;
  font-size:1.28571em;
  line-height:1.4;
}
strong { font-weight:400; }
@media (min-width: 768px) {
  p {
    margin:0 0 35px;
    font-size:2.0em;
    line-height:1.4;
  }
  h1 {
    font-size:3.85714em;
    font-weight:400;
  }
}
a {
  color:#e2cc00;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}
a:hover, a:focus {
  text-decoration:none;
  color:#6f6f6e;
}
.light { font-weight:400; }
.navbar {
  min-height:74px;
  border:0;
}
.navbar-brand {
  float:right;
  height:180px;
}
.navbar-brand .custom_logo {
  position:relative;
  height:150px;
  width:200px;
}
.navbar-brand .custom_logo img {
  position:absolute;
  display:block;
  left:0;
}
.navbar-brand.gray .custom_logo #img2, .navbar-brand .custom_logo #img2 { opacity:1; }
.navbar-brand.gray .custom_logo #img1, .navbar-brand .custom_logo #img1 { opacity:0; }
.navbar-custom {
  color:#6f6f6e;
  margin-bottom:0;
  text-transform:uppercase;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#fff;
  border-bottom:1px solid transparent;
  max-height:180px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand, .navbar-toggle, .navbar-header, .container > .navbar-header { margin:0; }
.navbar-custom .navbar-brand:focus { outline:0; }
.navbar-custom .navbar-brand .navbar-toggle {
  padding:4px 6px;
  font-size:1.14286em;
  color:#fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active { outline:0; }
.navbar-custom .navbar-brand .custom { display:inline-block; }
.navbar-custom a { color:#6f6f6e; }
.navbar-custom .nav li a {
  -webkit-transition:background .3s ease-in-out;
  -moz-transition:background .3s ease-in-out;
  transition:background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  outline:0;
  color:rgba(111,111,110,0.8);
  background-color:transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline:0;
  background-color:transparent;
}
.navbar-custom .nav li.active { outline:0; }
.navbar-custom .nav li.active a { background-color:rgba(111,111,110,0.3); }
.navbar-custom .nav li.active a:hover { color:rgba(111,111,110,0.8); }
.navbar-custom .collapsing .nav li a, .navbar-custom .collapse.in .nav li a {
  padding-left:30px;
  padding-right:30px;
}
@media (min-width: 992px) {
  .navbar-custom {
    padding:20px 0;
    letter-spacing:1px;
    border-bottom:1px solid transparent;
    background:0 0;
    -webkit-transition:background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition:background .5s ease-in-out, padding .5s ease-in-out;
    transition:background .5s ease-in-out, padding .5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding:0;
    background-color:#fff;
    border-bottom:1px solid #fff;
    -webkit-transition:border .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition:border .5s ease-in-out, padding .5s ease-in-out;
    transition:border .5s ease-in-out, padding .5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse .navbar-brand .custom_logo #img1, .navbar-brand .custom_logo #img2 {
    -webkit-transition:opacity .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition:opacity .5s ease-in-out, padding .5s ease-in-out;
    transition:opacity .5s ease-in-out, padding .5s ease-in-out;
    opacity:0;
  }
  .navbar-brand .custom_logo #img1, .navbar-custom.top-nav-collapse .navbar-brand .custom_logo #img2 {
    -webkit-transition:opacity .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition:opacity .5s ease-in-out, padding .5s ease-in-out;
    transition:opacity .5s ease-in-out, padding .5s ease-in-out;
    opacity:1;
  }
  .navbar-custom.top-nav-collapse a { color:#6f6f6e; }
  .navbar-custom .nav li a:hover { color:#000; }
  .navbar-custom.top-nav-collapse .nav li a:hover { color:#000; }
  .navbar-header { width:auto !important; }
  .navbar-nav { float:right; }
}
.intro {
  display:table;
  width:100%;
  height:100%;
  padding:100px 0;
  text-align:center;
  color:#fff;
  background:url(../../../images/intro-marita.jpg) no-repeat top center scroll;
  background-color:#eeeeee;
  -webkit-background-size:auto 100%;
  -moz-background-size:auto 100%;
  background-size:auto 100%;
  -o-background-size:auto 100%;
  position:relative;
}
@media only screen and (max-width: 1300px) {
  .intro { max-height:400px; }
}
@media only screen and (max-width: 991px) {
  .intro { margin-top:180px; }
}
@media only screen and (max-width: 530px) {
  .intro {
    max-height:250px;
    background:url(../../../images/intro-marita-small.jpg) no-repeat top center scroll;
    background-color:#eeeeee;
    -webkit-background-size:auto 100%;
    -moz-background-size:auto 100%;
    background-size:auto 100%;
    -o-background-size:auto 100%;
  }
}
.profilimage {
  background:url(../../../images/profil-marita.jpg) no-repeat top center scroll;
  -webkit-background-size:auto 100%;
  -moz-background-size:auto 100%;
  background-size:auto 100%;
  -o-background-size:auto 100%;
  height:500px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:2px;
  max-width:1663px;
  position:relative;
}
.profilimage.kontakt {
  background:url(../../../images/kontakt-marita.jpg) no-repeat top center scroll;
  -webkit-background-size:auto 100%;
  -moz-background-size:auto 100%;
  background-size:auto 100%;
  -o-background-size:auto 100%;
}
@media only screen and (max-width: 1000px) {
  .profilimage { height:300px; }
}
@media only screen and (max-width: 660px) {
  .profilimage { height:200px; }
}
@media only screen and (max-width: 460px) {
  .profilimage {
    height:150px;
    background:url(../../../images/profil-marita-small.jpg) no-repeat top center scroll;
    -webkit-background-size:auto 100%;
    -moz-background-size:auto 100%;
    background-size:auto 100%;
    -o-background-size:auto 100%;
  }
}
.navbar-custom a { color:#6f6f6e; }
.intro .intro-body {
  display:table-cell;
  vertical-align:middle;
}
.page-scroll.btn-down { display:none; }
.intro .intro-body .brand-heading { font-size:3.57143em; }
.intro .intro-body .intro-text { font-size:1.5em; }
@media (min-width: 768px) {
  .intro {
    height:100%;
    padding:0;
  }
  .intro .intro-body .brand-heading { font-size:3.57143em; }
  .intro .intro-body .intro-text { font-size:1.5em; }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform:scale(1);
    transform:scale(1);
  }
  50% {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }
  100% {
    -webkit-transform:scale(1);
    transform:scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform:scale(1);
    transform:scale(1);
  }
  50% {
    -moz-transform:scale(1.2);
    transform:scale(1.2);
  }
  100% {
    -moz-transform:scale(1);
    transform:scale(1);
  }
}
.content-section {
  padding-bottom:50px;
  padding-top:50px;
}
.item-page.content-section { padding-top:205px; }
.content-section p {
  color:#000;
  margin:0 0 20px;
  font-size:1.28571em;
  font-weight:300;
  line-height:1.4;
}
.content-section h2 {
  font-size:2.5em;
  margin:0 0 10px;
  text-transform:none;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400;
  letter-spacing:normal;
  line-height:1.4;
}
.content-section li {
  color:#000;
  font-size:1.28571em;
  font-weight:300;
  line-height:1.4;
}
.content-section ul { margin:0 0 25px; }
.stretch-section {
  width:100%;
  padding:50px 0;
  color:#fff;
  background:url(../../../images/stretch-bg.png) no-repeat center center scroll;
  background-color:#e2cc00;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
}
.stretch-section p, .stretch-section li, .stretch-section h2 { color:#fff; }
.row {
  margin-right:0;
  margin-left:0;
}
#map {
  width:100%;
  height:320px;
  margin-bottom:50px;
  margin-top:50px;
}
#page-top .navbar-fixed-top .navbar-collapse { max-height:417px; }
.mobile-nav.footer {
  height:70px;
  width:320px;
  background-color:#9d9d9c;
  border-bottom:1px solid #d7d7d7;
  color:white;
  display:none;
}
.mobile-nav.footer .telnumber {
  width:140px;
  height:35px;
  padding-top:10px;
  text-align:right;
  font-size:13px;
  margin-left:auto;
  margin-right:auto;
}
.telnumber a { color:#fff; }
.mobile-nav.footer .icon {
  width:20px;
  height:15px;
  float:left;
  margin-top:-3px;
}
.mobile-nav.footer .icon img {
  width:100%;
  height:100%;
}
.mobile-nav.footer .navlinks {
  height:49px;
  margin-left:auto;
  margin-right:auto;
  width:191px;
}
.mobile-nav.footer .navlinks div {
  color:white;
  width:auto;
  text-transform:uppercase;
  float:left;
  font-size:13px;
  padding-top:9px;
}
.mobile-nav.footer .navlinks .left {
  text-align:right;
  padding-right:10px;
}
.mobile-nav.footer .navlinks .right {
  text-align:left;
  padding-left:10px;
}
.mobile-nav.footer .navlinks a { color:#fff; }
@media (min-width: 767px) {
  .item-page.content-section { padding-top:230px; }
  .content-section h2 { font-size:3.57143em; }
  .content-section li, .content-section p { font-size:1.5em; }
  .content-section ul { margin:0 0 35px; }
  .stretch-section { padding:100px 0; }
  #map { height:450px; }
}
.btn-down {
  cursor:pointer;
  display:inline-block;
  padding:6px 12px;
  text-align:center;
  vertical-align:middle;
}
footer { padding:50px 0 250px; }
footer p {
  font-size:1.07143em;
  line-height:1.4;
  margin:0;
}
footer ul.nav {
  list-style:none;
  padding-left:15px;
  padding-top:15px;
}
footer ul.nav > li {
  font-size:1.07143em;
  line-height:2.0;
}
footer ul.nav > li > a {
  display:inline-block;
  padding:0;
  position:static;
}
footer ul.nav > li > a:hover, footer ul.nav > li > a:focus {
  background-color:transparent;
  text-decoration:underline;
}
@media (min-width: 767px) {
  footer ul.nav {
    padding-left:0;
    float:right;
  }
  footer ul.nav > li {
    display:block;
    float:left;
    line-height:1.4;
    position:static;
    padding:0 15px;
  }
  footer ul.nav > li:first-child { padding:0 15px 0 0; }
  footer ul.nav > li:last-child { padding:0 0 0 15px; }
  footer ul.nav {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom:0;
    margin-top:0;
    padding-top:0;
    text-align:right;
    text-transform:none;
  }
  footer div.foo { top:-21px; }
}
@media (min-width: 1199px) {
  footer div.foo { top:0; }
}
::-moz-selection {
  text-shadow:none;
  background:#030303;
  background:rgba(0,0,0,0.2);
}
::selection {
  text-shadow:none;
  background:#fcfcfc;
  background:rgba(255,255,255,0.2);
}
img::selection { background:0 0; }
img::-moz-selection { background:0 0; }
body { webkit-tap-highlight-color:rgba(255,255,255,0.2); }
nav .navbar-nav li:first-child { display:none; }
.navbar-header {
  float:right;
  position:relative;
  width:100%;
}
.navbar-toggle .fa.fa-bars { font-size:1.5em; }
.navbar-toggle {
  float:none;
  position:absolute;
  padding-top:18px;
  top:0;
  left:0;
  z-index:909;
}
@media (min-width: 360px) {
  .navbar-toggle {
    top:auto;
    left:auto;
    z-index:auto;
  }
}
@media (max-width: 991px) {
  .nav.navbar-nav.menu {
    max-width:320px;
    padding:7.5px -15px;
    margin:0px 0px;
  }
  .mobile-nav.footer { display:block; }
  .navbar-fixed-top .container {
    width:100%;
    margin-left:0px;
  }
  .navbar-fixed-top .nav.navbar-nav.menu li {
    background-image:url('http://marita-reichenbacher.de/images/mobilemenu-bg.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    height:39px;
    border-bottom:1px solid #d7d7d7;
    max-width:320px;
    color:#6e6e6d;
  }
  .navbar-fixed-top .nav.navbar-nav.menu li:last-child { border-bottom:1px solid #9d9d9c; }
  .navbar-fixed-top .nav.navbar-nav.menu li:hover a { color:#000; }
  .navbar-fixed-top .nav.navbar-nav.menu li a {
    padding-bottom:9px;
    padding-top:9px;
  }
  .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left:-30px;
    margin-right:-30px;
    border-top:none;
  }
}
